
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }

    .downloadtemp {
        font-weight: 600;
    }
    a#linkdownload {
        cursor: pointer;
    }
    .caret {
        display: none;
    }
    span.multiselect-selected-text {
        display: flex;
        margin-left: 4px;
    }

    span .multiselect-selected-text {
        margin-right: 10rem;
    }

    .btnsave {
        display: inline !important;
    }


    .btn-default:hover, .btn-default:active {
        background-color: transparent;
    }

    .btn-default:hover {
        border-color: none;
    }

    .btn-default {
        background-color: white;
        color: #444;
        border-color: #ddd;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 50rem;
        max-width: 100%;
        border-radius: 0px;
    }

    .btn-group, .btn-group-vertical {
        max-width: 100%;
    }

    .bortext {
        border: 1px solid red;
    }

    .form-group-chk {
        margin-bottom: 0px;
        display: inline-table;
        width: 100%;
        padding: 0px;
    }

    .control-label-o {
        margin-top: 0px;
        display: contents;
    }

    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: table-cell;
    }

    .form-control-t {
        display: block;
        width: 8rem;
        padding: 5px;
    }

    input.form-control-t {
        text-align: center;
    }

    span.input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        border-color: #d2d6de;
        background-color: #fff;
    }

    .radiogrp {
        display: flex;
        margin-top: 5px;
    }

    .TDSCls {
        margin-left: 15px;
        display: inline-block;
    }

    .col-md-4.boxtds {
        margin-top: -5px;
    }

    .labelvalue {
        margin-bottom: 4px;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }

    a#btnAddLead {
        padding: 6px 20px;
    }

    #TxtFilterDate {
        height: 33px;
        margin-top: 7px;
        width: 195px;
        margin-right: 5px;
    }

    .RemarkDatahead {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        padding-left: 13px;
        padding-top: 5px;
        font-size: 15px;
    }

    .AdminRemarkDatahead {
        color: red;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        padding-left: 13px;
    }

    .RemarkDatadate {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: #808080;
        padding-right: 20px;
        float: right;
    }

    .RemarkDataDes {
        margin-top: 8px;
        font-family: 'Rubik', sans-serif;
        text-align: left;
        color: #333333;
        font-size: 14px;
        width: 90%;
        margin-left: 13px;
        margin-bottom: 8px;
    }
    .RemarkStatus {
        margin-top: 8px;
        font-family: 'Rubik', sans-serif;
        text-align: left;
        color: #333333;
        font-size: 14px;
        width: 90%;
        margin-left: 13px;
        margin-bottom: 8px;
    }

    .RemarkData {
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .d-flex p {
        margin-bottom: 5px;
    }

    .RemarkData_Block {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .ClosedRemarkData_Block {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .ConvertRemarkData_Block {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }

    #FrontFileStatus {
        width: 20px;
    }

    .dashed {
        border: 0 none;
        border-top: 2px dashed #322f32;
        background: none;
        height: 0;
    }

    .NevigateActiveBtn {
        background-color: #3c8dbc;
        height: 100%;
        border-radius: 33px;
        width: 100%;
        border-color: #3c8dbc;
        border: none;
        color: black;
        padding: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }

    .NevigateBtn {
        height: 100%;
        border-radius: 33px;
        width: 100%;
        border-color: #3c8dbc;
        background-color: white; /* Green */
        border: none;
        color: black;
        padding: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }

    #FilterByCompany, #FilterByCategory, #FilterByPriority, #FilterByAssignedTo,#FilterByStatus {
        margin-bottom: 1%;
        margin-top: 1px;
        border-top-width: 0px;
        margin-left: 1%;
    }

    #FilterByModalTitle {
        font-size: 154%;
        font-weight: 600;
    }

    #DetailsModalTitle {
        font-size: 154%;
        font-weight: 600;
    }

    #FilterLeadDetails {
        width: 25%;
        margin-right: 4%;
        background-color: #3c8dbc;
    }

    #FilterBoxTitle {
        font-size: 110%;
    }

    #btnExit3, #btnExit2, #btnreset {
        border: 2px solid red;
        background-color: white;
        color: red;
        font-weight: 600;
    }

    .Filter-Modal-Header {
        padding-left: 0px;
    }

    .Details-Modal-Header {
        padding-left: 0px;
        padding-bottom: 10px;
    }

    #refreshIcon {
        float: right;
        padding-top: 11px;
    }

    #filter-modal-dialog {
        height: 460px;
        margin-right: 6%;
        margin-top: 8%;
        width: 31%
    }

    #filter-body {
        overflow-y: scroll;
        max-height: 85%;
        padding: 0px;
    }

    #FilterByCompanyBody, #FilterByCategoryBody, #FilterByPriorityBody {
        padding-bottom: 0px;
        padding-top: 0px;
        display: none;
    }

    .filterCount {
        border-radius: 29px;
        background-color: #3c8dbc;
        color: white;
        border: 0px solid #3c8dbc;
    }

    #nevigateToEditContactDetailsDiv, #nevigateToEditProjectDetailsDiv {
        padding: 0%;
        width: 5%
    }

    #nevigateToEditClientDetailsDiv {
        padding: 0%;
        width: 12%
    }

    #LeadIdRow, #StatusRow {
        height: 30px;
    }
    /* Style the custom tooltip button */
    .custom-tooltip-button {
        border: 2px solid #3c8dbc;
        position: relative;
        color: white;
    }

    /* Style the tooltip text */
    .tooltip-text {
        width: 120px;
        visibility: hidden;
        background-color: #3c8dbc;
        border: 1px solid#3c8dbc;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        bottom: 115%;
        left: 50%;
        transform: translateX(-50%);
        transition: visibility 0.2s ease-in-out;
    }

        .tooltip-text::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-width: 9px;
            border-style: solid;
            border-color: #3c8dbc transparent transparent transparent;
        }
    /* Show the tooltip text on button hover */
    #nevigateToEditClientDetailsDiv:hover .tooltip-text {
        visibility: visible;
    }

    #nevigateToEditContactDetailsDiv:hover .tooltip-text {
        visibility: visible;
    }

    #nevigateToEditProjectDetailsDiv:hover .tooltip-text {
        visibility: visible;
    }

    .overflow {
        height: fit-content;
        max-height: 80%;
        overflow-y: scroll;
    }

    #showremarks {
        float: right;
        font-size: 23px;
        padding-top: 7px;
    }

    #leadtstatusIcon {
        float: right;
        margin-top: 6px;
        font-weight: 600;
        margin-right: 4px;
    }


    #TxtClientName {
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        padding: 14px 20px 12px 13px;
        border: 1px solid #ddd;
        height: 33px;
        border-right-width: 0px;
        text-align: left;
    }

    .input-group:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        background-color: white;
        min-width: 305px;
        overflow: auto;
        z-index: 1;
        overflow-y: scroll;
        border: 1px solid #d2d6de;
        max-height: 122px;
        height: auto;
    }

    #clientlistInput {
        min-width: 30px;
    }

    .dropdown-content a {
        color: black;
        padding: 1px 16px;
        text-decoration: none;
        display: none;
        font-size: 15px;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #d2d6de;
        border-right: 1px solid #d2d6de;
    }

    .border-bottom {
        border-bottom: 1px solid #d2d6de;
    }

    .input-group {
        border-color: #d2d6de;
    }

    .show {
        display: block;
    }

    .input-icons i {
        position: absolute;
    }

    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 10px;
        color: green;
        min-width: 50px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        text-align: left;
    }
    .padding-title {
        padding-bottom: 7px;
    }
    .tableWrap {
        height: 200px;
        border: 2px solid black;
        overflow: auto;
    }
    thead tr th {
        position: sticky;
        top: 0;
    }
    table {
        border-collapse: collapse;
    }

    th {
        font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        color: white;
        padding: 16px;
        padding-left: 15px;
        border-left: 0px #5ba7d7;
        border-bottom: 1px solid #e8e8e8;
        background: #5ba7d7;
        text-align: left;
        font-weight: 400;
    }
    .tableFixHead {
        overflow: auto;
        height: 100%;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }
    table {

        width: 100%;
    }

        table td {
            padding: 16px;
        }

    tbody tr {
        border-bottom: 2px solid #e8e8e8;
    }

    thead {
        color: rgba(0, 0, 0, 0.85);
    }

    tbody tr:hover {
        background: #e6f7ff;
    }
    .content-wrapper {
    }

    .float-container {
        height:30px;
    }

    .float-child {
        width: fit-content;
        float: left;
    }
    .status {
        width: fit-content;
        float: right;
    }
    .fa {
        color: #5ba7d7;
    }
    .remark-count {
        color: #5ba7d7;
        font-size: 16px;
        padding-left: 3px;
        padding-right: 3px;
        width: 22px;
        height: 35px;
        padding-top: 0px;
    }
    .table-header {
        padding: 14px;
    }
    .table-btn-style {
        font-weight: 600;
        margin-right: 4px;
    }
    .filter-header {
        padding-left: 2px;
    }
</style>
<section class="content-header padding-title">
    <h1 id="content_header">Lead Details</h1>
</section>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary with-border" id="MainEditLeadDIV" style="display:none;">
            <div class="box-header with-border" style="height: 7%;display:none;" id="nevigationDiv">

                <div class="col-md-12" style="padding-left: 26%;">
                    <div class="col-md-1" id="nevigateToEditClientDetailsDiv">

                        <button style="border: 2px solid #3c8dbc;" class="NevigateActiveBtn" onclick="nevigateToEditClientDetails()" id="nevigateToEditClientDetails">
                            Client Details
                        </button>
                        <span class="tooltip-text" id="edit-client-tooltip-text">Client Details</span>
                    </div>
                    <div class="col-md-1" style="padding: 0%">
                        <hr class="dashed" />
                    </div>
                    <div class="col-md-1" id="nevigateToEditContactDetailsDiv">
                        <button style="border: 2px solid #3c8dbc;" class="NevigateBtn" onclick="nevigateToEditContactDetails()" id="nevigateToEditContactDetails" title="Contact Details">
                            2
                        </button>
                        <span class="tooltip-text" id="edit-contact-tooltip-text">Contact Details</span>
                    </div>
                    <div class="col-md-1" style="padding: 0%">
                        <hr class="dashed" />
                    </div>
                    <div class="col-md-1" id="nevigateToEditProjectDetailsDiv">
                        <button style="border: 2px solid #3c8dbc;" class="NevigateBtn" onclick="nevigateToEditProjectDetails()" id="nevigateToEditProjectDetails" title="Project Details">
                            3
                        </button>
                        <span class="tooltip-text" id="edit-project-tooltip-text">Project Details</span>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="box box-primary with-border" id="LeadDIV">
                    <div class="box-header with-border">
                        <h3 class="box-title" id="boxTitle"></h3>

                    </div>
                    <div class="box-body">
                        <div class="col-md-12" id="LeadForm" style="display:none;">
                            <div class="form-group">

                                <div class="box-body">
                                    <div class="row" id="LeadIdRow">
                                        <div class="col-md-12" style="height: 30px;">
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivLeadId">
                                                    <label>Lead Id :</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivLeadIdValue">
                                                    <label id="lead_ld">LI_001 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="StatusRow">
                                        <div class="col-md-12" style="height: 30px;">
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivStatus">
                                                    <label>Status :</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivStatusValue">
                                                    <label id="lead_status"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="CompNameDIV">
                                                    <label>Company Name<span class="text-danger">*</span></label>
                                                    <select id="TxtCompanyName" class="form-control">
                                                        <option selected="" value="">--Select Company Name--</option>
                                                        @Html.Raw(ViewBag.CompanyModelList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForCompanyName"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="ClientNameDIV">
                                                    <label>Client Name<span class="text-danger">*</span></label>
                                                    <div class="input-group" style="width: 306px;">
                                                        <input type="text" placeholder="Enter Client Name" autocomplete="off" id="TxtClientName" oninput="filterFunction()" class="input-field form-control">
                                                        <span class="input-group-addon transparent">
                                                            <i class="fa fa-angle-down" aria-hidden="true" id="showClientName"></i>
                                                        </span>
                                                    </div>
                                                    <div id="myDropdown" class="dropdown-content">

                                                        @Html.Raw(ViewBag.ClientNamesList)

                                                    </div>

                                                    <span class="help-block" id="ErrorForClientName"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="CategoryDIV">
                                                    <label>Priority<span class="text-danger">*</span></label>
                                                    <select id="TxtCategory" class="form-control">
                                                        <option selected="" value="">--Select Priority--</option>
                                                        <option value="Hot">Hot</option>
                                                        <option value="Cold">Cold</option>
                                                        <option value="Warm">Warm</option>
                                                    </select>
                                                    <span class="help-block" id="ErrorForCategory"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="ProjectTypeDIV">
                                                    <label>Category</label>
                                                    <select id="TxtProjectType" class="form-control" onchange="changeTypeOfLead(this.value)">
                                                        <option selected="" value="">--Select Category Type--</option>
                                                        @Html.Raw(ViewBag.ProjectTypeModelList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForProjectType"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="TypeOfLeadDIV">
                                                    <label>Sub Category</label>
                                                    <select id="TxtTypeOfLead" class="form-control">
                                                        <option selected="" value="">--Select Sub Category--</option>
                                                        @Html.Raw(ViewBag.TypeOfLeadList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForTypeOfLead"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="ProductNameDIV">
                                                    <label>Product Name</label>
                                                    <input type="text" class="form-control" maxlength="35" id="TxtProductName" placeholder="Enter Product Name" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForProductName"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="SourceDIV">
                                                    <label>Owner Name<span class="text-danger">*</span></label>
                                                    <select id="TxtSource" class="form-control">
                                                        <option selected="" value="">--Select Owner Name--</option>
                                                        @Html.Raw(ViewBag.LeadOwnerList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForSource"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="LeadSourceDIV">
                                                    <label>Lead Source</label>
                                                    <select id="TxtLeadSource" class="form-control">
                                                        <option selected="" value="">--Select Source--</option>
                                                        @Html.Raw(ViewBag.LeadSourceList)
                                                    </select>

                                                    <span class="help-block" id="ErrorForLeadSource"></span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="ReferenceDIV">
                                                    <label>Reference</label>
                                                    <input type="text" class="form-control" maxlength="35" id="TxtReference" placeholder="Please Enter Reference" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForReference"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="FrontImgOfCardDIV">
                                                    <label>Front Image Of Card</label>
                                                    <input type="file" class="form-control" id="FrontImgOfCard" title="Please select front image path" accept="image/png, image/jpeg">
                                                    <span class="help-block" id="ErrorForFrontImgOfCard"></span>

                                                </div>

                                                <div>
                                                    <a data-toggle="tooltip" title="View Details" data-placement="left" class="btn btn-sm waves-effect" id="removeFrontFileIcon" onclick="removeFrontFile()" style="display:none"><i class="fa fa-trash"></i></a> <span> </span><a id="FrontFileStatus"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="BackImgOfCardDIV">
                                                    <label>Back Image Of Card</label>
                                                    <input type="file" class="form-control" id="BackImgOfCard" title="Please select Back image path" accept="image/png, image/jpeg">
                                                    <span class="help-block" id="ErrorForBackImgOfCard"></span>

                                                </div>

                                                <a data-toggle="tooltip" title="View Details" data-placement="left" class="btn btn-sm waves-effect" id="removeBackFileIcon" onclick="removeBackFile()" style="display:none"><i class="fa fa-trash"></i></a> <span> </span><a id="BackFileStatus"></a>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="box-footer text-center">
                                        <button type="button" class="btn btn-danger" id="btnreset" onclick="CancelBtn(0);" style="width:110px;">Cancel</button>
                                        <button type="button" class="btn btn-success" id="btnDraft" onclick="SaveFormData();" style="margin-right: 10px; width: 110px; background-color: #0096CF">Save as Draft</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12" id="ContactDetails" style="display:none;">
                            <div class="form-group">

                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <div class="form-group" id="SpokesNameDIV">
                                                    <label>Spokes Person 1</label>
                                                    <input type="text" class="form-control" maxlength="35" id="TxtSpokesName" placeholder="Enter Spokes Person Name" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForSpokesName"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="SpokesMobileDIV">
                                                    <label>Mobile Number 1</label>
                                                    <input type="text" class="form-control" id="TxtSpokesMobile" maxlength="10" placeholder="Enter Mobile Number" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />
                                                    <span class="help-block" id="ErrorForSpokesMobile"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="SpokesEmailDIV">
                                                    <label>Email Address 1</label>
                                                    <input type="email" class="form-control" id="TxtSpokesEmailAddress" maxlength="35" placeholder="Enter Email Address" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForSpokesEmail"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AddressDIV">
                                                    <label>Residential Address 1</label>
                                                    <textarea class="form-control" id="TxtAddress" placeholder="Enter Address" maxlength="250" rows="2" cols="60"></textarea>
                                                    <span class="help-block" id="ErrorForAddress"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateSpokesNameDIV">
                                                    <label>Spokes Person 2</label>
                                                    <input type="text" class="form-control" maxlength="35" id="TxtAlternateSpokesName" placeholder="Enter Spokes Name" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateSpokesName"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateMobileDIV">
                                                    <label>Mobile Number 2</label>
                                                    <input type="text" class="form-control" id="TxtAlternateMobile" maxlength="10" placeholder="Enter Mobile Number" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />
                                                    <span class="help-block" id="ErrorForAlternateMobile"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateEmailDIV">
                                                    <label>Email Address 2</label>
                                                    <input type="email" class="form-control" id="TxtAlternateEmailAddress" maxlength="35" placeholder="Enter Email Address" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateEmail"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateAddressDIV">
                                                    <label>Residential Address 2</label>
                                                    <input type="email" class="form-control" id="TxtAlternateAddress" maxlength="35" placeholder="Enter Email Address" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateAddress"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer text-center">
                                        <button type="button" class="btn btn-danger" id="btnExit2" onclick="CancelBtn(0);" style="width:110px;">Cancel</button>
                                        <button type="button" class="btn btn-success" id="btnDraft2" onclick="SaveFormData();" style="margin-right: 10px; width: 110px; background-color: #0096CF">Save as Draft</button>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12" id="ProjectDetails" style="display:none;">
                            <div class="form-group">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="PlanDIV">
                                                    <label>Proposal Plan</label>
                                                    <select id="TxtPlan" class="form-control">
                                                        <option selected="" value="">--Select Plan--</option>
                                                        @Html.Raw(ViewBag.PlanDetails)
                                                    </select>
                                                    <span class="help-block" id="ErrorForPlan"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="PlanPriceDIV">
                                                    <label>Plan Price</label>
                                                    <input type="text" class="form-control" id="TxtPlanPrice" placeholder="Enter Plan Price" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />
                                                    <span class="help-block" id="ErrorForPlanPrice"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="ChangeStatusDIV">
                                                    <label>Change Status</label>
                                                    <select id="TxtStatusType" class="form-control">
                                                        <option selected="" value="">--Select Status--</option>
                                                        <option value="Open">Open</option>
                                                        <option value="On Hold">On Hold</option>
                                                        <option value="Converted">Converted</option>
                                                        <option value="Closed">Closed</option>
                                                        <option value="Ghost">Ghost</option>
                                                    </select>
                                                    <span class="help-block" id="ErrorForChangeStatus"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AssignLeadDIV">
                                                    <label>Assign Lead</label>
                                                    <select id="TxtPerson" class="form-control">
                                                        <option selected="" value="">--Select Person--</option>
                                                        @Html.Raw(ViewBag.AssignTo)
                                                    </select>
                                                    <span class="help-block" id="ErrorForSelectPerson"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="ScheduleDateDiv">
                                                    <label>Schedule Date</label>
                                                    <input type="text" class="form-control" id="TxtScheduleDate" placeholder="dd/mm/yyyy" onchange="IsValidDate(this.value)">
                                                    <span class="help-block" id="ErrorForScheduledate"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="ScheduleTimeDIV">
                                                    <label>Schedule Time</label>
                                                    <input type="time" class="form-control" id="TxtScheduleTime" placeholder="HH:MM:SS">
                                                    <span class="help-block" id="ErrorForScheduleTime"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer text-center">
                                        <button type="button" class="btn" id="btnExit3" onclick="CancelBtn(0);" style="width:110px;">Cancel</button>
                                        <button type="button" class="btn btn-success" id="btnSave" onclick="Update(id,this.id);" style="margin-right: 10px;width:110px;">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="box box-primary with-border" id="LeadTableDIV">
            <div class="box-header with-border d-flex align-items-center justify-content-between table-header">
                <h3 class="box-title" id="boxTitle">Lead Details</h3>
                <div class="box-tools">
                    <a class="btn btn-primary table-btn-style" id="btnDownloadReport">Download Report</a>
                    <a class="btn btn-primary table-btn-style" onclick="window.location.href='/LeadManagement/AddNewLead';" id="btnAddLead">+ Add Lead</a>
                    <a class="btn btn-primary table-btn-style" onclick="showFavLead();" id="btnFavorites">Favorites</a>
                    <a class="btn btn-primary table-btn-style" id="btnFilter" onclick="showFilter()">
                        <i class="fa fa-filter"></i> Filter
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="top: -8px; display:none" id="TotalFilterCount">
                            4
                        </span>
                    </a>
                </div>
            </div>


            <div class="box-body">

                <div class="col-md-12" id="LeadTable">
                    <div id="LeadDetails"></div>
                </div>
            </div>

        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="Filter-Detail">
            <div class="modal-dialog" id="filter-modal-dialog">
                <div class="modal-content">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom: 0px;">
                            <div class="">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-md-12 Filter-Modal-Header">
                                    <div class="col-md-6">
                                        <h4 class="modal-title" id="FilterByModalTitle">Filter By</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <i class="fa fa-refresh" id="refreshIcon" aria-hidden="true" onclick="resetFilter()"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-body" id="filter-body">
                            <div class="box" id="FilterByCompany">
                                <div class="box-header">
                                    <h3 class="box-title filter-header" id="FilterBoxTitle">Company</h3>  &nbsp;&nbsp; <button class="filterCount" id="CountOfCompanyFilter" style="display: none;"></button>
                                    <i class="fa fa-angle-down" id="showCompanyIcon" aria-hidden="true" style="float:right" onclick="showCompanyList()"></i>
                                </div>
                                <div class="box-body" id="FilterByCompanyBody">
                                    <div class="row" id="FilterByCompanyRow">

                                    </div>
                                </div>
                            </div>
                            <div class="box" id="FilterByCategory">
                                <div class="box-header">
                                    <h3 class="box-title filter-header" id="FilterBoxTitle">Category</h3>  &nbsp;&nbsp; <button class="filterCount" id="CountOfCategoryFilter" style="display: none;"></button>
                                    <i class="fa fa-angle-down" id="showCategoryIcon" aria-hidden="true" style="float:right" onclick="showCategoryList()"></i>
                                </div>
                                <div class="box-body" id="FilterByCategoryBody">
                                    <div class="row" id="FilterByCategoryRow">

                                    </div>
                                </div>
                            </div>
                            <div class="box" id="FilterByPriority">
                                <div class="box-header">
                                    <h3 class="box-title filter-header" id="FilterBoxTitle">Priority</h3>  &nbsp;&nbsp; <button class="filterCount" id="CountOfPriorityFilter" style="display: none;"></button>
                                    <i class="fa fa-angle-down" id="showPriorityIcon" aria-hidden="true" style="float:right" onclick="showPriorityList()"></i>
                                </div>
                                <div class="box-body" id="FilterByPriorityBody">
                                    <div class="row" id="FilterByPriorityRow">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="PriorityList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Hot" onclick="PriorityFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Category_Consulting">Hot</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="PriorityList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Cold" onclick="PriorityFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Category_Consulting">Cold</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="PriorityList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Warm" onclick="PriorityFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Category_Consulting">Warm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box" id="FilterByStatus">
                                <div class="box-header">
                                    <h3 class="box-title filter-header" id="FilterBoxTitle">Status</h3>  &nbsp;&nbsp; <button class="filterCount" id="CountOfStatusFilter" style="display: none;"></button>
                                    <i class="fa fa-angle-down" id="showStatusIcon" aria-hidden="true" style="float:right" onclick="showStatusList()"></i>
                                </div>
                                <div class="box-body" id="FilterByStatusBody" style="display: none;">
                                    <div class="row" id="FilterByStatusRow">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="StatusList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Open" onclick="StatusFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Status_Value">Open</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="StatusList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Closed" onclick="StatusFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Status_Value">Closed</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="StatusList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Converted" onclick="StatusFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Status_Value">Converted</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="StatusList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="On Hold" onclick="StatusFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Status_Value">On Hold</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4" style="padding:0px">
                                                    <input class="StatusList" data-val="true"
                                                           id="isActive"
                                                           name="isActive"
                                                           type="checkbox"
                                                           value="Ghost" onclick="StatusFilterCount()" />
                                                </div>
                                                <div class="col-md-8" style="padding:0px">
                                                    <span id="Status_Value">Ghost</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box" id="FilterByAssignedTo">
                                <div class="box-header">
                                    <h3 class="box-title filter-header" id="FilterBoxTitle">Assigned To</h3> &nbsp;&nbsp; <button class="filterCount" id="CountOfAssignToFilter" style="display: none;"></button>
                                    <i class="fa fa-angle-down" id="showAssignToIcon" aria-hidden="true" style="float:right" onclick="showAssignedToList()"></i>
                                </div>
                                <div class="box-body" style="padding-bottom: 0px;padding-top: 0px;display:none" id="FilterByAssignedToBody">
                                    <div class="row" id="FilterByAssignedToRow">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="padding: 1%;">
                            <button type="button" id="FilterLeadDetails" class="btn btn-success" onclick="FilterLeadDetails();">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-Detail">
            <div class="modal-dialog modal-lg" id="details-modal-dialog">
                <div class="modal-content">

                    <div class="modal-header" style="padding-bottom: 0px;">
                        <div class="">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-12 Details-Modal-Header">
                                <div class="col-md-6">
                                    <h4 class="modal-title" id="DetailsModalTitle">Lead Details</h4>
                                </div>
                                <div class="col-md-6">
                                    <a data-placement="left" title="details" data-toggle="tooltip" class="btn btn-sm waves-effect" id="showremarks" onclick="remark('LID_957638')">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-body" style="padding-bottom: 0px;padding-top: 0px;">
                        <div class="box" id="view_client_details">
                            <div class="box-header">
                                <h3 class="box-title" id="boxTitle">Client Details</h3>
                            </div>
                            <div class="box-body" style="padding-bottom: 0px;padding-top: 0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Lead Date</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="leadDate"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Company Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="compName"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Client Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="clientName"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Owner Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="source"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Product Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="ProductName"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Priority</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="category"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Sub Category</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="typeOfLead"> </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Front Image Of Card :</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">

                                            </div>
                                            <div class="img_preview_wrap">
                                                <span class="pip">
                                                    <img id="frontimg" style="width:180px;height:15%;display:none" data-toggle="modal" data-target="#ViewFrontCardImage"><span class="removeimg"><i class="bi bi-trash"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-8" style="padding:0px">
                                                <label>Back Image Of Card :</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <div class="img_preview_wrap">
                                                    <span class="pip">
                                                        <img id="backimg" style="width: 180px; height: 15%; display: none " data-toggle="modal" data-target="#ViewBackCardImage"><span class="removeimg"><i class="bi bi-trash"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" id="view_contact_details">
                            <div class="box-header">
                                <h3 class="box-title" id="boxTitle">Contact Details</h3>
                            </div>
                            <div class="box-body" style="padding-bottom: 0px;padding-top: 0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Spokes Person 1 Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesName"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Mobile number 1</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesMobileNumber"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Email Address 1</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesEmailAddress"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Residential Address 1</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesAddress"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Spokes Person 2 Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesName2"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Mobile number 2</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesMobileNumber2"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Email Address 2</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesEmailAddress2"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Residential Address 2</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="spokesAddress2"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" id="view_project_details">
                            <div class="box-header">
                                <h3 class="box-title" id="boxTitle">Project Details</h3>
                            </div>
                            <div class="box-body" style="padding-bottom: 0px;padding-top: 0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Plan Name</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="planName"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Plan Price</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="planPrice"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Assign To</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="assignTo"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Schedule Date</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="scheduleDate"> </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-7" style="padding:0px">
                                                <label>Schedule Time</label>
                                            </div>
                                            <div class="col-md-5" style="padding:0px">
                                                <span id="scheduleTime"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="ShowEditForm();" id="btnShowEditForm">Edit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="remarkModal">
            <div class="modal-dialog" id="remark-modal-dialog">
                <div class="modal-content">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeRemarkModal" onclick="closeRemarkModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Remark</h4>
                        </div>
                        <div class="modal-body" style="overflow-y: scroll; max-height:85%;" id="remark-body">
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Remark<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-5" id="RemarkDIV" style="padding-left: 0px;padding-right: 5px;">
                                        <textarea type="text" class="form-control" id="TxtRemark" placeholder="Enter Remark" autocomplete="off" style="width:100%"></textarea>
                                        <span class="help-block" id="ErrorForRemark"></span>
                                    </div>
                                    <div class="col-md-2" style="padding-left: 0px;padding-right: 5px;">
                                        <button type="button" style="width:100%" class="btn btn-success" onclick="SaveRemark();" id="btnSaveRemark">Save</button>
                                    </div>
                                    <div class="col-md-3" style="padding-left: 0px;">
                                        <button type="button" style="width:100%" class="btn btn-success" onclick="SaveRemarkAndNotify();" id="btnSaveRemarkAndNotify">Save And Notify</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="ViewFrontCardImage"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Add image inside the body of modal -->
                    <div class="modal-body">
                        <img id="ViewFrontCardImagePath"
                             alt="Click on button" style="height: 45%;width: 100%;" />
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="ViewBackCardImage"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- Add image inside the body of modal -->
                    <div class="modal-body">
                        <img id="ViewBackCardImagePath"
                             alt="Click on button" style="height: 45%;width: 100%;" />
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section LocalJs{
    <script>
        debugger;
        $(document).ready(function () {

            debugger;
            var Location = "@Html.Raw(ViewBag.toAddLeadForm)";
            var storedValue = sessionStorage.getItem('pageId');
            if (storedValue == null) {
                refreshDataTable(0);
            } else {
                var page_Id = parseInt(storedValue);
                refreshDataTable(page_Id);
            }
            
            $("#TxtFilterDate,#TxtScheduleDate").datepicker({
                format: 'dd/mm/yyyy'
            });
            const $select = document.querySelector('#TxtSource');
            $select.value = "@Session["Admin_ID"]";

        });
        function refreshDataTable(pageId) {
            debugger;

            $("#LeadDetails").load("@Url.Action("LeadTablePartial", "LeadManagement")", function () {
                var pageToSet = pageId;
                var myDataTable = $('#TableLead').DataTable({
                });
                if (pageId != 0) {
                    sessionStorage.setItem('pageId', 0);
                }
                myDataTable.page(pageToSet).draw(false);
                $("#TableLead").removeClass('dataTable');
                $(".col-sm-12").addClass('overflow');
                $(".col-sm-12").css('padding-right','0px');
                const $select = document.querySelector('#TxtSource');
                $select.value = "@Session["Admin_ID"]";
                var id = "@Session["Admin_ID"].ToString()";
                getCountOfUnseenNotification(id);
                RecentNotificationDetails(id);
                $('.content-wrapper').css('min-height', '646px');
         });
         
        }
        function FilterDataTable(whereCompanyId, whereCategoryId, whereAssignedToId, wherePriorityListId, whereStatusListId)
        {
	        debugger;
	        $('#FilterLeadDetails').attr('disabled', true);
	        var originalContent = $('#FilterLeadDetails').html();
	        var loader = "<i class='fa fa-spinner fa-spin'></i>Please wait..";
	        $('#FilterLeadDetails').html(loader);
	        debugger;
	        var User_ID = "@Session["Admin_ID"].ToString()";
            if (whereCompanyId == "" && whereCategoryId == "" && whereAssignedToId == "" && wherePriorityListId == "" && whereStatusListId == "") {
		    refreshDataTable(0);
		    $('#FilterLeadDetails').removeAttr('disabled');
		    $("#Filter-Detail .close").click();
		    $('#FilterLeadDetails').html(originalContent);
	        }
	        else {
		        var formdata = new FormData();
		        formdata.append("UserId", User_ID);
		        formdata.append("CompanyId", whereCompanyId);
		        formdata.append("CategoryId", whereCategoryId);
		        formdata.append("AssignedId", whereAssignedToId);
                formdata.append("Priority", wherePriorityListId);
                formdata.append("Status", whereStatusListId);
		        $.ajax({
			    url: '@Url.Action("FilterLeadTablePartial", "LeadManagement")',
			    type: 'POST',
			    data: formdata,  // Send the FormData object directly
			    contentType: false, // Let jQuery set the content type
			    processData: false, // Don't process the data
			    success: function (data) {
			    	$("#LeadDetails").html(data); // Replace with the element where you want to display the result
			    	$("#TableLead").DataTable();
			    	$('#FilterLeadDetails').removeAttr('disabled');
			    	$("#Filter-Detail .close").click();
			    	$('#FilterLeadDetails').html(originalContent);
			    },
			    error: function (error) {
				    console.log(error);
			    }
		    });
	    }

    }
    </script>
    <script src="~/MyJavascripts/LeadManagement.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script src="https://unpkg.com/bootstrap-multiselect@0.9.13/dist/js/bootstrap-multiselect.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
}




