
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }

    .downloadtemp {
        font-weight: 600;
    }

    textarea#TxtRemark {
        height: 35px;
    }

    a#linkdownload {
        cursor: pointer;
    }

    .caret {
        display: none;
    }

    span.multiselect-selected-text {
        display: flex;
        margin-left: 4px;
    }

    span .multiselect-selected-text {
        margin-right: 10rem;
    }

    .btnsave {
        display: inline !important;
    }


    .btn-default:hover, .btn-default:active {
        background-color: transparent;
    }

    .btn-default:hover {
        border-color: none;
    }

    .btn-default {
        background-color: white;
        color: #444;
        border-color: #ddd;
    }

    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 50rem;
        max-width: 100%;
        border-radius: 0px;
    }

    .btn-group, .btn-group-vertical {
        max-width: 100%;
    }

    .bortext {
        border: 1px solid red;
    }

    .form-group-chk {
        margin-bottom: 0px;
        display: inline-table;
        width: 100%;
        padding: 0px;
    }

    .control-label-o {
        margin-top: 0px;
        display: contents;
    }

    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: table-cell;
    }

    .form-control-t {
        display: block;
        width: 8rem;
        padding: 5px;
    }

    input.form-control-t {
        text-align: center;
    }

    span.input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        border-color: #d2d6de;
        background-color: #fff;
    }

    .radiogrp {
        display: flex;
        margin-top: 5px;
    }

    .TDSCls {
        margin-left: 15px;
        display: inline-block;
    }

    .col-md-4.boxtds {
        margin-top: -5px;
    }

    .labelvalue {
        margin-bottom: 4px;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }

    a#btnAddLead {
        padding: 6px 20px;
    }

    #TxtFilterDate {
        height: 33px;
        margin-top: 7px;
        width: 195px;
        margin-right: 5px;
    }

    .RemarkDatahead {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        padding-left: 13px;
        padding-top: 5px;
    }

    .RemarkDatadate {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: #808080;
        padding-left: 13px;
    }

    .RemarkDataDes {
        font-family: 'Rubik', sans-serif;
        text-align: left;
        color: #333333;
        font-size: 14px;
        width: 90%;
        margin-left: 13px;
        margin-bottom: 8px;
    }

    .RemarkData {
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .d-flex p {
        margin-bottom: 5px;
    }

    .RemarkData_Block {
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }

    #FrontFileStatus {
        width: 20px;
    }

    .dashed {
        border: 0 none;
        border-top: 2px dashed #322f32;
        background: none;
        height: 0;
    }

    .NevigateActiveBtn {
        background-color: #3c8dbc;
        height: 100%;
        border-radius: 33px;
        width: 100%;
        border-color: #3c8dbc;
        border: none;
        color: black;
        padding: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }

    .NevigateBtn {
        height: 100%;
        border-radius: 33px;
        width: 100%;
        border-color: #3c8dbc;
        background-color: white; /* Green */
        border: none;
        color: black;
        padding: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }
    #btnExit3, #btnExit2, #btnreset {
        border: 2px solid red;
        background-color: white;
        color: red;
        font-weight: 600;
    }
    .custom-tooltip-button {
        border: 2px solid #3c8dbc;
        position: relative;
        color: white;
    }

    .tooltip-text {
        width: 120px;
        visibility: hidden;
        background-color: #3c8dbc;
        border: 1px solid#3c8dbc;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        bottom: 115%;
        left: 50%;
        transform: translateX(-50%);
        transition: visibility 0.2s ease-in-out;
    }

    .tooltip-text::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-width: 9px;
            border-style: solid;
            border-color: #3c8dbc transparent transparent transparent;
    }

    /* Show the tooltip text on button hover */
    #nevigateToClientDetailsDiv:hover .tooltip-text {
        visibility: visible;
    }
    #nevigateToContactDetailsDiv:hover .tooltip-text {
        visibility: visible;
    }
    #nevigateToProjectDetailsDiv:hover .tooltip-text {
        visibility: visible;
    }


    #TxtClientName {
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        padding: 14px 20px 12px 13px;
        border: 1px solid #ddd;
        height: 33px;
        border-right-width: 0px;
        text-align: left;
    }

    .input-group:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display:none;
        position: absolute;
        background-color: white;
        min-width: 305px;
        overflow: auto;
        z-index: 1;
        height: 122px;
        overflow-y: scroll;
        border: 1px solid #d2d6de;
    }
    #clientlistInput {
        min-width: 30px;
    }
    .dropdown-content a {
        color: black;
        padding: 1px 16px;
        text-decoration: none;
        display: none;
        font-size: 15px;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #d2d6de;
        border-right: 1px solid #d2d6de;
    }
    .border-bottom {
        border-bottom: 1px solid #d2d6de;
    }
    .input-group {
        border-color: #d2d6de;
    }
    .show {
        display: block;
    }
    .input-icons i {
        position: absolute;
    }

    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 10px;
        color: green;
        min-width: 50px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        text-align: left;
    }
</style>
<section class="content-header">
    <h1>Add Lead</h1>
    
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary with-border" id="MainLeadDIV">
            <div class="box-header with-border" style="height: 7%;">

                <div class="col-md-12" style="padding-left: 26%;">

                    <div class="col-md-1" style="padding: 0%; width: 12%" id="nevigateToClientDetailsDiv">
                        <button style="border: 2px solid #3c8dbc;" class="NevigateActiveBtn" onclick="nevigateToClientDetails()" id="nevigateToClientDetails">Client Details</button>
                        <span class="tooltip-text" id="client-tooltip-text">Client Details</span>
                    </div>
                    <div class="col-md-1" style="padding: 0%"><hr class="dashed" /></div>
                    <div class="col-md-1" style="padding: 0%; width: 5%" id="nevigateToContactDetailsDiv">
                        <button style="border: 2px solid #3c8dbc;" class="NevigateBtn" onclick="nevigateToContactDetails()" id="nevigateToContactDetails">2</button>
                        <span class="tooltip-text" id="contact-tooltip-text">Contact Details</span>
                    </div>
                    <div class="col-md-1" style="padding: 0%"><hr class="dashed" /></div>
                    <div class="col-md-1" style="padding: 0%; width: 5%" id="nevigateToProjectDetailsDiv">
                        <button style="border: 2px solid #3c8dbc;" class="NevigateBtn" onclick="nevigateToProjectDetails()" id="nevigateToProjectDetails">3</button>
                        <span class="tooltip-text" id="project-tooltip-text">Project Details</span>
                    </div>
                </div>

            </div>
            <div class="box-body">
                <div class="box box-primary with-border" id="LeadDIV">
                    <div class="box-header with-border" style="height: 7%;">
                        <h3 class="box-title" id="boxTitle">1. Client Details</h3>
                        <a class="btn btn-primary" style="font-weight:600;margin-right:4px;display:none" id="btnDownloadReport">Download Report</a>

                        <div class="box-tools">
                            @*<input type="text" id="TxtFilterDate" placeholder="yyyy/mm/dd">*@
                            <a class="btn btn-primary" style="font-weight:600;margin-right:4px;" onclick="@("window.location.href='" + @Url.Action("Index", "LeadManagement") + "'");" id="btnAddLead">Lead Details</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" id="AddNewLeadForm" style="display:block;">
                            <div class="form-group">

                                <div class="box-body">
                                    <div class="row" id="LeadIdRow" style="height: 30px;display:none">
                                        <div class="col-md-12" style="height: 30px;">
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivLeadId">
                                                    <label>Lead Id :</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivLeadIdValue">
                                                    <label id="lead_ld">LI_001 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="StatusRow" style="height: 30px;display:none">
                                        <div class="col-md-12" style="height: 30px;">
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivStatus">
                                                    <label>Status :</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group" id="DivStatusValue">
                                                    <label id="lead_status"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="CompNameDIV">
                                                    <label>Company Name<span class="text-danger">*</span></label>
                                                    <select id="TxtCompanyName" class="form-control">
                                                        <option selected="" value="">--Select Company Name--</option>
                                                        @Html.Raw(ViewBag.CompanyModelList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForCompanyName"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="ClientNameDIV">
                                                    <label>Client Name<span class="text-danger">*</span></label>

                                                    <div class="input-group" style="width: 306px;">
                                                        <input type="text" placeholder="Enter Client Name" autocomplete="off" id="TxtClientName" onkeyup="filterFunction()" class="input-field form-control">
                                                        <span class="input-group-addon transparent">
                                                            <i class='fa fa-angle-down' aria-hidden='true' id="showClientName"></i>
                                                        </span>
                                                    </div>
                                                    <div id="myDropdown" class="dropdown-content">

                                                        @Html.Raw(ViewBag.ClientNamesList)

                                                    </div>
                                                    <span class="help-block" id="ErrorForClientName"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="CategoryDIV">
                                                    <label>Priority</label>
                                                    <select id="TxtCategory" class="form-control">
                                                        <option selected="" value="">--Select Priority--</option>
                                                        <option value="Hot">Hot</option>
                                                        <option value="Cold">Cold</option>
                                                        <option value="Warm">Warm</option>
                                                    </select>
                                                    <span class="help-block" id="ErrorForCategory"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="ProjectTypeDIV">
                                                    <label>Category</label>
                                                    <select id="TxtProjectType" class="form-control" onchange="changeTypeOfLead(this.value)">
                                                        <option selected="" value="">--Select Category Type--</option>
                                                        @Html.Raw(ViewBag.ProjectTypeModelList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForProjectType"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="TypeOfLeadDIV">
                                                    <label>Sub Category</label>
                                                    <select id="TxtTypeOfLead" class="form-control">
                                                        <option selected="" value="">--Select Sub Category--</option>
                                                        @Html.Raw(ViewBag.TypeOfLeadList)
                                                    </select>
                                                    <span class="help-block" id="ErrorForTypeOfLead"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="ProductNameDIV">
                                                    <label>Product Name</label>
                                                    <input type="text" maxlength="35" class="form-control" id="TxtProductName" placeholder="Enter Product Name" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForProductName"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="SourceDIV">
                                                    <label>Owner Name<span class="text-danger">*</span></label>
                                                    <select id="TxtSource" class="form-control">
                                                        <option selected="" value="">--Select Owner Name--</option>
                                                        @Html.Raw(ViewBag.LeadOwnerList)
                                                        
                                                    </select>
                                                    <span class="help-block" id="ErrorForSource"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="LeadSourceDIV">
                                                    <label>Lead Source</label>
                                                    <select id="TxtLeadSource" class="form-control">
                                                        <option selected="" value="">--Select Source--</option>
                                                        @Html.Raw(ViewBag.LeadSourceList)
                                                        <option value="Reference">Reference</option>
                                                    </select>

                                                    <span class="help-block" id="ErrorForLeadSource"></span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="ReferenceDIV">
                                                    <label>Reference</label>
                                                    <input type="text" maxlength="40" class="form-control" id="TxtReference" placeholder="Please Enter Reference" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForReference"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="FrontImgOfCardDIV">
                                                    <label>Front Image Of Card</label>
                                                    <input type="file" class="form-control" id="FrontImgOfCard" title="Please select front image path" accept="image/png,image/jpeg">
                                                    <span class="help-block" id="ErrorForFrontImgOfCard"></span>

                                                </div>

                                                <div>
                                                    <a data-toggle="tooltip" title="View Details" data-placement="left" class="btn btn-sm waves-effect" id="removeFrontFileIcon" onclick="removeFrontFile()" style="display:none"><i class="fa fa-trash"></i></a> <span> </span><a id="FrontFileStatus"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="BackImgOfCardDIV">
                                                    <label>Back Image Of Card</label>
                                                    <input type="file" class="form-control" id="BackImgOfCard" title="Please select Back image path" accept="image/png, image/jpeg">
                                                    <span class="help-block" id="ErrorForBackImgOfCard"></span>

                                                </div>

                                                <a data-toggle="tooltip" title="View Details" data-placement="left" class="btn btn-sm waves-effect" id="removeBackFileIcon" onclick="removeBackFile()" style="display:none"><i class="fa fa-trash"></i></a> <span> </span><a id="BackFileStatus"></a>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="box-footer text-center">
                                        <button type="button" class="btn btn-danger" id="btnreset" onclick="CancelBtn();" style="width:110px;">Cancel</button>
                                        <button type="button" class="btn btn-success" id="btnDraft" onclick="SaveFormData(this.id);" style="margin-right: 10px; width: 110px; background-color: #0096CF">Save as Draft</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12" id="ContactDetails" style="display:none;">
                            <div class="form-group">

                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <div class="form-group" id="SpokesNameDIV">
                                                    <label>Spokes Person 1</label>
                                                    <input type="text" class="form-control" maxlength="35" id="TxtSpokesName" placeholder="Enter Spokes Person Name" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForSpokesName"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="SpokesMobileDIV">
                                                    <label>Mobile Number 1</label>
                                                    <input type="text" class="form-control" id="TxtSpokesMobile" maxlength="10" placeholder="Enter Mobile Number" autocomplete="off"/>
                                                    <span class="help-block" id="ErrorForSpokesMobile"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="SpokesEmailDIV">
                                                    <label>Email Address 1</label>
                                                    <input type="email" class="form-control" maxlength="35" id="TxtSpokesEmailAddress" placeholder="Enter Email Address" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForSpokesEmail"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AddressDIV">
                                                    <label>Residential Address 1</label>
                                                    <textarea class="form-control" id="TxtAddress" placeholder="Enter Address" maxlength="250" rows="2" cols="60"></textarea>
                                                    <span class="help-block" id="ErrorForAddress"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateSpokesNameDIV">
                                                    <label>Spokes Person 2</label>
                                                    <input type="text" class="form-control" maxlength="35" id="TxtAlternateSpokesName" placeholder="Enter Spokes Name" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateSpokesName"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateMobileDIV">
                                                    <label>Mobile Number 2</label>
                                                    <input type="text" class="form-control" id="TxtAlternateMobile" maxlength="10" placeholder="Enter Mobile Number" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateMobile"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateEmailDIV">
                                                    <label>Email Address 2</label>
                                                    <input type="email" class="form-control" id="TxtAlternateEmailAddress" maxlength="35" placeholder="Enter Email Address" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateEmail"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AlternateAddressDIV">
                                                    <label>Residential Address 2</label>
                                                    <input type="email" class="form-control" id="TxtAlternateAddress" maxlength="35" placeholder="Enter Email Address" autocomplete="off" />
                                                    <span class="help-block" id="ErrorForAlternateAddress"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer text-center">
                                        <button type="button" class="btn btn-danger" id="btnExit2" onclick="CancelBtn();" style="width:110px;">Cancel</button>
                                        <button type="button" class="btn btn-success" id="btnDraft2" onclick="SaveFormData(this.id);" style="margin-right: 10px; width: 110px; background-color: #0096CF">Save as Draft</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12" id="ProjectDetails" style="display:none;">
                            <div class="form-group">

                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="PlanDIV">
                                                    <label>Proposal Plan</label>
                                                    <select id="TxtPlan" class="form-control">
                                                        <option selected="" value="">--Select Plan--</option>
                                                        @Html.Raw(ViewBag.PlanDetails)
                                                    </select>
                                                    <span class="help-block" id="ErrorForPlan"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group" id="PlanPriceDIV">
                                                    <label>Plan Price</label>
                                                    <input type="text" class="form-control" id="TxtPlanPrice" placeholder="Enter Plan Price" autocomplete="off" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />
                                                    <span class="help-block" id="ErrorForPlanPrice"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="ChangeStatusDIV">
                                                    <label>Change Status</label>
                                                    <select id="TxtStatusType" class="form-control">
                                                        <option selected="" value="">--Select Status--</option>
                                                        <option value="Open">Open</option>
                                                        <option value="Hold">Hold</option>
                                                        <option value="Converted">Converted</option>
                                                        <option value="Closed">Closed</option>
                                                        <option value="Ghost">Ghost</option>
                                                    </select>
                                                    <span class="help-block" id="ErrorForChangeStatus"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="AssignLeadDIV">
                                                    <label>Assign Lead</label>
                                                    <select id="TxtPerson" class="form-control">
                                                        <option selected="" value="">--Select Person--</option>
                                                        @Html.Raw(ViewBag.AssignTo)
                                                    </select>
                                                    <span class="help-block" id="ErrorForSelectPerson"></span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="form-group" id="ScheduleDateDiv">
                                                    <label>Schedule Date</label>
                                                    <input type="text" class="form-control" id="TxtScheduleDate" placeholder="dd/mm/yyyy" onchange="IsValidDate(this.value)">
                                                    <span class="help-block" id="ErrorForScheduledate"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="ScheduleTimeDIV">
                                                    <label>Schedule Time</label>
                                                    <input type="time" class="form-control" id="TxtScheduleTime" placeholder="HH:MM:SS">
                                                    <span class="help-block" id="ErrorForScheduleTime"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="box-footer text-center">
                                        <button type="button" class="btn btn-danger" id="btnExit3" onclick="CancelBtn();" style="width:110px;">Cancel</button>
                                        <button type="button" class="btn btn-success" id="btnSave" onclick="UpdateFinalDraftLead();" style="margin-right: 10px;width:110px;">Save</button>
                                        <button type="button" class="btn btn-success" id="btnDraft3" onclick="UpdateFinalDraftLead();" style="width: 110px; background-color: #0096CF">Save as Draft</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


@section LocalJs{

    <script>


        debugger;

        $(document).ready(function () {
            debugger;
            var Location = "@Html.Raw(ViewBag.toAddLeadForm)";
            if (Location == "toAddLeadForm") {
                Location = "";
                ShowForm();
            }
            else {
                refreshDataTable();
            }

            $('#toLeadDetails').css('display', 'none');
            $("#TxtFilterDate,#TxtScheduleDate").datepicker({
                format: 'dd/mm/yyyy'
            });
            const $select = document.querySelector('#TxtSource');
            $select.value = "@Session["Admin_ID"]";
        });
        function refreshDataTable() {
            debugger;
            $("#LeadDetails").load("@Url.Action("LeadTablePartial", "LeadManagement")", function () {
                $("#TableLead").DataTable();
            const $select = document.querySelector('#TxtSource');
            $select.value = "@Session["Admin_ID"]";
         });

        }
    </script>
    <script src="~/MyJavascripts/AddNewLead.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script src="https://unpkg.com/bootstrap-multiselect@0.9.13/dist/js/bootstrap-multiselect.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

}




