<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lead Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/ThemeContent/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/skin-blue.min.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/blue.css" rel="stylesheet" />
    <script src="~/ThemeContent/js/bootbox.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="~/ThemeContent/css/datepicker3.css" rel="stylesheet" />
    <link href="~/ThemeContent/css/ToggleSwitch.css" rel="stylesheet" />
    <link href="https://unpkg.com/bootstrap-multiselect@0.9.13/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" />
    <link href="~/ThemeContent/css/MyLayoutStyleSheet.css" rel="stylesheet" />
</head>

<body class="skin-blue sidebar-mini sidebar-collapse" id="body" style="padding-right: unset">
    <div class="wrapper" style="height: auto;">
        <header class="main-header nav-fixed ">
            <a href="/Dashboard/Index " class="logo">
                <span class="logo-mini"><b>LMS</b></span>
                <span style="font-size: 16px;">Lead Management System</span>
            </a>
            <nav class="navbar navbar-static-top fixed-width" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user-menu">
                            <a href="@Url.Action("Index","Dashboard")" style="color: white">Home</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "LeadManagement") + "'");" style="color: white; border:0px">Lead Details</a>
                        </li>
                        <li id="addLead_li">
                            <a class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("AddNewLead", "LeadManagement") + "'");" style="color: white; border:0px">Add Lead</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" id="showNotification" onclick="showNotification('@Session["Admin_ID"]')" style="color: white; border: 0px;">

                                Notification&nbsp;&nbsp;

                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="top: -8px; display:none" id="countOfUnseenNotification">
                                    4
                                </span>
                            </a>
                        </li>
                        <li class="dropdown user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa-user-circle-o"></i>
                                <span class="hidden-xs"><i class="fa fa-user"></i>&nbsp;&nbsp;@Session["AdminUname"]</span>
                            </a>
                            <ul class="dropdown-menu" style="width: 140px;margin-right: 0px;border-right-width: 0px;">
                                <li class="user-header" style="height: 80px;width: 160px;">
                                    <i class="fa fa-user" style="font-size: 30px;"></i>
                                    <p style="margin-top: 4px;margin-bottom: 6px;">@Session["AdminUname"]</p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a class="btn btn-primary" onclick="Logout();" id="logout">Log Out&nbsp;<i class="fa fa-sign-out"></i></a>
                                    </div>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;">
                <section class="sidebar" style="overflow: hidden; width: auto; height: 305px;">
                    <ul class="sidebar-menu tree" data-widget="tree">
                        <li class="treeview myLi">

                            <a href="@Url.Action("Index","Dashboard")">
                                <i class="fa fa-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview myLi" id="showMasters" onclick="showMasters()">
                            <a href="">
                                <i class="fa fa-table"></i><span>Masters</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="myInnerLi"><a href="@Url.Action("Index","LeadManagement")" id="3"><i class="fa fa-circle-o"></i>Lead Master</a></li>
                                <li class="myInnerLi"><a href="@Url.Action("Index","Category")" id="4"><i class="fa fa-circle-o"></i>Category Master</a></li>
                                <li class="myInnerLi"><a href="@Url.Action("Index","Company")" id="6"><i class="fa fa-circle-o"></i>Company Master</a></li>
                                <li class="myInnerLi"><a href="@Url.Action("Index","Employee")" id="7"><i class="fa fa-circle-o"></i>Assignee Master</a></li>
                                <li class="myInnerLi"><a href="@Url.Action("Index","Source")" id="8"><i class="fa fa-circle-o"></i>Owner Master</a></li>
                                <li class="myInnerLi"><a href="@Url.Action("Index","LeadSource")" id="9"><i class="fa fa-circle-o"></i>Lead Source Master</a></li>
                                <li class="myInnerLi"><a href="@Url.Action("Index","PlanDetail")" id="10"><i class="fa fa-circle-o"></i>Plan Detail Master</a></li>

                            </ul>
                        </li>

                    </ul>

                </section><div class="slimScrollBar"></div><div class="slimScrollRail"></div>
            </div>
        </aside>
        <div class="content-wrapper" style="min-height: auto; background-color: white;">
            <section class="content mt-50" style="padding-top: 0px;padding-right: 25px;">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Version @System.Configuration.ConfigurationManager.AppSettings["AppVersion"]
            </div>
            <strong>Copyright © @DateTime.Now.Year  @System.Configuration.ConfigurationManager.AppSettings["ProjectName"].</strong> All rights reserved.
        </footer>
    </div>
    <div class="modal in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="NotificationModal" style="display: none; padding-right: 17px;">
        <div class="modal-dialog NotificationModalDialog">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header" id="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="modal-title">Notifications</h4>
                    </div>
                    <div class="modalbody" style="overflow-y: scroll; max-height:85%;" id="modalbody">
                    @Html.Raw(ViewBag.NotificationList)
                    </div>
                    <div class="modal-footer" style="padding-top: 0px;padding-bottom: 0px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6" style="padding:0%">
                                    <a class="btn showNotificationList" onclick="@("window.location.href='" + @Url.Action("Index", "Notification") + "'");">View More</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <script src="~/ThemeContent/js/jquery-2.2.3.min.js"></script>
    <script src="~/ThemeContent/js/bootstrap.min.js"></script>
    <script src="~/ThemeContent/js/app.min.js"></script>
    <script src="~/ThemeContent/js/icheck.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/ThemeContent/js/bootstrap-datepicker.js"></script>
    <script src="~/ThemeContent/js/jquery.dataTables.min.js"></script>
    <script src="~/ThemeContent/js/dataTables.bootstrap.min.js"></script>
    <script src="~/ThemeContent/js/bootbox.min.js"></script>
    <script src="~/ThemeContent/js/crypto-js.min.js"></script>
    <script src="https://unpkg.com/bootstrap-multiselect@0.9.13/dist/js/bootstrap-multiselect.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <script type="text/javascript">
        var ServerURL = "@System.Configuration.ConfigurationManager.AppSettings["ScreenURL"].ToString()";
        var UserId = '@Session["Admin_ID"].ToString()';
        $(document).ready(function () {
            getCountOfUnseenNotification(UserId);
        });
        function getCountOfUnseenNotification(UserId) {
            debugger;
	        $.ajax({
		        type: "POST",
                url: ServerURL + 'Notification/GetCountOfUnSeenNotification',
                data: JSON.stringify({ UserId: UserId }),
		        contentType: 'application/json; charset=utf-8',
		        success: function (return_Data) {
			        debugger;
			        if (return_Data.n == 5) {
				    bootbox.alert(return_Data.msg);
				    window.location.href = "/LogIn/LogInForm";
			        } else if (return_Data.n == 1)
                    {
                        debugger;
                        var count = return_Data.TotalUnseenNotification;
                        if (count != 0) {
                            $("#countOfUnseenNotification").text(count);
                            $("#countOfUnseenNotification").css('display','initial');
                        }
			        }
		        }
	        });
        }
        function Logout() {
            debugger;
            bootbox.confirm({
                message: "Are You sure you want to Logout ?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        debugger;
                        $.ajax({
                            type: 'POST',
                            url: '' + ServerURL + 'LogIn/Logout',

                            contentType: 'application/json; charset=utf-8',
                            success: function (return_Data) {
                                if (return_Data.n == 1) {
                                    window.location.href = '' + ServerURL + 'LogIn/LogInForm';
                                }
                            }
                        });
                    }
                    else {
                        bootbox.hideAll();
                    }
                }
            });
        }
        function ShowForm() {
            debugger;
            window.location.href = '' + ServerURL + 'LeadManagement/AddNewLead';
        }
        function ShowFormforlist() {
            debugger;
            window.location.href = '' + ServerURL + 'LeadManagement/Index';
        }

        function showNotification(userid) {
            debugger;
            $('#NotificationModal').modal('show');
            ChangeNotificationStatus(userid);
            RecentNotificationDetails(userid);
        }

        function ChangeNotificationStatus(UserId) {
            debugger;
            document.body.style.paddingRight = '0px';
            $.ajax({
                type: "POST",
                url: ServerURL + 'Notification/UpdateNotificationSeenStatus',
                data: JSON.stringify({ UserId: UserId }),
                contentType: 'application/json; charset=utf-8',
                success: function (return_Data) {
                    debugger;
                    if (return_Data.n == 5) {
                        bootbox.alert(return_Data.msg);
                        window.location.href = "/LogIn/LogInForm";
                    }
                    else if (return_Data.n == 1) {
                        $("#countOfUnseenNotification").text("0");
                        $("#countOfUnseenNotification").css('display', 'none');
                    }else{

                    }

                }
            });
        }
        function showMasters() {
            debugger;
            var hasClass = $("#body").hasClass("sidebar-collapse");

            if (hasClass) {
                $("#body").removeClass("sidebar-collapse");
            }
        }
        function RecentNotificationDetails(UserId) {
            debugger;
            document.body.style.paddingRight = '0px';
            $.ajax({
                type: "POST",
                url: ServerURL + 'Notification/RecentNotificationDetails',
                data: JSON.stringify({ UserId: UserId }),
                contentType: 'application/json; charset=utf-8',
                success: function (return_Data) {
                    debugger;
                    if (return_Data.n == 5) {
                        bootbox.alert(return_Data.msg);
                        window.location.href = "/LogIn/LogInForm";
                    }
                    else if (return_Data.n == 1) {
                        $("#modalbody").html(return_Data.NotificationList);
                    } else {

                    }

                }
            });
        }
    </script>
    @RenderSection("LocalJS", false)
</body>
</html>

