@model LeadManagementSystem.MODEL.LeadModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<style>
    .openlead-bg {
        color:white;
        background-color: #47B0F8;
    }
    .closedlead-bg {
        color: white;
        background-color: #A694F8;
    }
    .ghostlead-bg {
        color: white;
        background-color: #D63683;
    }
    .convertedlead-bg {
        color: white;
        background-color: #F1843B;
    }
    .holdlead-bg {
        color: white;
        background-color: #F9C747;
    }

    a#btnAddLead {
        padding: 6px 20px;
    }

    #TxtFilterDate {
        height: 33px;
        margin-top: 7px;
        width: 195px;
        margin-right: 5px;
    }

    .RemarkDatahead {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        padding-left: 13px;
        padding-top: 5px;
        font-size: 15px;
    }

    .AdminRemarkDatahead {
        color: red;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        padding-left: 13px;
        padding-top: 5px;
        font-size: 15px;
    }

    .RemarkDatadate {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: #808080;
        padding-left: 13px;
        text-align:right
    }

    .RemarkDataDes {
        font-family: 'Rubik', sans-serif;
        text-align: left;
        color: #333333;
        font-size: 14px;
        width: 90%;
        margin-left: 13px;
        margin-bottom: 8px;
    }

    .RemarkData {
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .d-flex p {
        margin-bottom: 5px;
        padding-right: 20px;
    }

    .RemarkData_Block {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .ClosedRemarkData_Block {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }

    .ConvertRemarkData_Block {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 16px;
        box-shadow: 0px 4px 8px #e4e4e4;
    }
    .scrollbox {
        overflow-y: scroll;
        max-height: 86%;
    }
    .data-count-box {
         height: auto;
    }
</style>
<section class="content-header" style="padding-bottom:15px;">
    <h1>Dashboard</h1>
</section>
<section class="content" style="padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">

    <div class="row" id="dashboardpanel">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info data-count-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lead Details</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-4">
                                <div class="small-box bg-green" style="height: 90px; margin-bottom: 10px;">
                                    <div class="inner" style="padding-bottom: 0px;">
                                        <h3>@ViewBag.TotalLeads</h3>

                                        <p>Total Lead</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="small-box closedlead-bg" style="height: 90px; margin-bottom: 10px;">
                                    <div class="inner" style="padding-bottom: 0px;">
                                        <h3>@ViewBag.ClosedLeads</h3>

                                        <p>Closed Lead</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="small-box ghostlead-bg" style="height: 90px; pointer-events: none; margin-bottom: 10px; color: white ">
                                    <div class="inner" style="padding-bottom: 0px;">
                                        <h3>@ViewBag.GhostLeads</h3>

                                        <p>Ghost Lead</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="small-box convertedlead-bg" style="height: 90px; margin-bottom: 10px;">
                                    <div class="inner" style="padding-bottom: 0px;">
                                        <h3>@ViewBag.ConvertedLeads</h3>

                                        <p>Converted Lead</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="small-box holdlead-bg" style="height: 90px; margin-bottom: 10px;">
                                    <div class="inner" style="padding-bottom: 0px;">
                                        <h3>@ViewBag.OnHold</h3>

                                        <p>OnHold Lead</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="small-box openlead-bg" style="height: 90px; margin-bottom: 10px;">
                                    <div class="inner" style="padding-bottom: 0px;">
                                        <h3>@ViewBag.OpenLeads</h3>

                                        <p>Open Lead</p>
                                    </div>
                                </div>
                            </div>




                        </div>

                    </div>
                    <div class="box box-info" style="height:500px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lead Details In Line Chart</h3>

                        </div>
                        <div class="box-body">
                            <div id="chartContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" style="height:300px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Plan Price Chart</h3>
                        </div>
                        <div class="box-body">
                            <canvas id="myPieChart" height="220" width="600" style="display: block;height: 80%;width: 600px;"></canvas>
                        </div>
                    </div>
                    <div class="box box-info" style="height: 450px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Recent Remarks</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12 table-responsive scrollbox">
                                @Html.Raw(ViewBag.GetRemarksList)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="~/MyJavascripts/Dashboard.js"></script>
@section LocalJs{
    <script>

        window.onload = function () {
            debugger;

            var TotalLeads ="@Html.Raw(ViewBag.TotalLeads)";
            var ClosedLeads ="@Html.Raw(ViewBag.ClosedLeads)";
            var OpenLeads = "@Html.Raw(ViewBag.OpenLeads)";
            var HoldLeads = "@Html.Raw(ViewBag.OnHold)";
            var LineChartData=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.LineChartData));
            var dataforLine = LineChartData;

            var TotalPriceOfTotalLeads ="@Html.Raw(ViewBag.TotalPriceOfTotalLeads)";
            var TotalPriceOfOpenLeads ="@Html.Raw(ViewBag.TotalPriceOfOpenLeads)";
            var TotalPriceOfClosedLeads = "@Html.Raw(ViewBag.TotalPriceOfClosedLeads)";
            var TotalPriceOfHoldLeads = "@Html.Raw(ViewBag.TotalPriceOfHoldLeads)";
            var TotalPriceOfConvertedLeads = "@Html.Raw(ViewBag.TotalPriceOfConvertedLeads)";
            var TotalPriceOfGhostLeads = "@Html.Raw(ViewBag.TotalPriceOfGhostLeads)";

           


            var procChart = new Morris.Line({
                element: 'chartContainer',
                data: dataforLine,
                xkey: ['MonthName'],
                ykeys: ['CountOfTotalLeads', 'CountOfClosedLeads','CountOfHoldLeads'],
                labels: ['Total Leads', "Closed Leads","Hold Leads"],
                lineColors: ["#3498db",
                    "#9b59b6","#FF3131"],
                hideHover: 'auto',
                resize: true,
                parseTime: false
            });

            const ctx = document.getElementById('myPieChart');
            const data = {
                labels: [
                    'Open',
                    'Closed',
                    'Hold',
                    'Converted',
                    'Ghost'
                ],
                datasets: [{
                    data: [TotalPriceOfOpenLeads, TotalPriceOfClosedLeads, TotalPriceOfHoldLeads, TotalPriceOfConvertedLeads, TotalPriceOfGhostLeads],
                    backgroundColor: [
                        '#47B0F8',
                        '#A694F8',
                        '#F9C747',
                        '#F1843B',
                        '#D63683'
                    ],
                    hoverBackgroundColor: [
                        '#47B0F8',  
                        '#A694F8',
                        '#F9C747',
                        '#F1843B',
                        '#D63683'
                    ]
                }]
            };

            new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    legend: {
                        position: 'right', // Display labels vertically on the right side
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var label = data.labels[tooltipItem.index];
                                var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                var parsedNumber = parseFloat(value); // Parse the string as a number
                                var formattedNumber = parsedNumber.toLocaleString('en-IN'); // Format as per Indian numbering system
                                return label + ': ₹ ' + formattedNumber;
                            }
                        }
                    }
                }
            });




        }
    </script>
}