@model LeadManagementSystem.MODEL.LeadModel

@if (Model.LeadList.Count > 0 || Model.LeadList != null)
{

    <table class="table" id="TableLead" style="font-size: 14px;width: 100%;">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th class="text-center">Sr.No</th>
                <th class="text-left">Lead Date</th>
                <th class="text-left">Company Name</th>
                <th class="text-left">Client Name</th>
                <th class="text-left">Product Name</th>
                <th class="text-center">Priority</th>
                <th class="text-center">Category</th>
                <th class="text-left">Sub Category</th>
                <th class="text-center">Source</th>
                <th class="text-left">Assign To</th>
                <th class="text-center">Status</th>
                <th class="text-center" id="colAction" style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @for (int i = 0; i < Model.LeadList.Count; i++)
            {
            <tr>
                <td style="padding: 3px;">
                    <div class="btn-group">
                        @if (Model.LeadList[i].IsFav == 1)
                        {
                            <a data-toggle="tooltip" title="View Details" data-placement="left" class="btn btn-sm waves-effect" onclick="IsFavLead('@Model.LeadList[i].LeadId',0)" style="padding-left: 3px; padding-right: 3px; width: 25px; height: 29px;"><i id="isFav_@Model.LeadList[i].LeadId" class="fa fa-star"></i></a>
                        }
                        else
                        {
                            <a data-toggle="tooltip" title="View Details" data-placement="left" class="btn btn-sm waves-effect" onclick="IsFavLead('@Model.LeadList[i].LeadId',1)" style="padding-left: 3px; padding-right: 3px; width: 25px; height: 29px;"><i id="isFav_@Model.LeadList[i].LeadId" class="fa fa-star-o"></i></a>
                        }
                    </div>
                </td>
                <td>@Model.LeadList[i].RowNum</td>
                <td class="text-left">@Model.LeadList[i].CreatedDate</td>
                <td class="text-left">@Model.LeadList[i].CompanyName</td>
                <td class="text-left">@Model.LeadList[i].ClientName</td>
                <td class="text-left">@Model.LeadList[i].ProductName</td>
                <td>@Model.LeadList[i].Category</td>
                <td>@Model.LeadList[i].ProjectType</td>
                <td class="text-left">@Model.LeadList[i].TypeOfLead</td>
                <td>@Model.LeadList[i].Source</td>
                <td>@Model.LeadList[i].AssignTo</td>

                <td style="width: 210px;">
                    @if (Model.LeadList[i].StatusType == "Open")
                    {
                        <select id="DrpStatusType_@Model.LeadList[i].LeadId" style="width: 80%;" class="form-control" onchange="changeLeadStatus('@Model.LeadList[i].LeadId', this.value)"  value="Open">
                            <option selected="" value="Open">Open</option>
                            <option value="Closed">Closed</option>
                            <option value="Converted">Converted</option>
                            <option value="Hold">Hold</option>
                            <option value="Ghost">Ghost</option>
                        </select>
                    }
                    else if (Model.LeadList[i].StatusType == "Closed")
                    {
                        <select id="DrpStatusType_@Model.LeadList[i].LeadId" style="width: 80%;" class="form-control" onchange="changeLeadStatus('@Model.LeadList[i].LeadId',this.value)"  value="Closed">
                            <option value="Open">Open</option>
                            <option selected="" value="Closed">Closed</option>
                            <option value="Converted">Converted</option>
                            <option value="Hold">Hold</option>
                            <option value="Ghost">Ghost</option>


                        </select>
                    }
                    else if (Model.LeadList[i].StatusType == "Converted")
                    {
                        <select id="DrpStatusType_@Model.LeadList[i].LeadId" style="width: 80%;" class="form-control" onchange="changeLeadStatus('@Model.LeadList[i].LeadId',this.value)" value="Converted">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                            <option selected="" value="Converted">Converted</option>
                            <option value="Hold">Hold</option>
                            <option value="Ghost">Ghost</option>
                        </select>
                    }
                    else if (Model.LeadList[i].StatusType == "Hold")
                    {
                        <select id="DrpStatusType_@Model.LeadList[i].LeadId" style="width: 80%;" class="form-control" onchange="changeLeadStatus('@Model.LeadList[i].LeadId',this.value)" value="Hold">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                            <option value="Converted">Converted</option>
                            <option selected="" value="Hold">Hold</option>
                            <option value="Ghost">Ghost</option>
                        </select>
                    }
                    else if (Model.LeadList[i].StatusType == "Ghost")
                    {
                        <select id="DrpStatusType_@Model.LeadList[i].LeadId" style="width: 80%;" class="form-control" onchange="changeLeadStatus('@Model.LeadList[i].LeadId',this.value)" value="Ghost">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                            <option value="Converted">Converted</option>
                            <option value="Hold">Hold</option>
                            <option selected="" value="Ghost">Ghost</option>
                        </select>
                    }
                    else
                    {
                        <select id="DrpStatusType_@Model.LeadList[i].LeadId" style="width: 80%;" class="form-control" onchange="changeLeadStatus('@Model.LeadList[i].LeadId',this.value)" value="--Select Status--">
                            <option selected="" value="">--Select Status--</option>
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                            <option value="Converted">Converted</option>
                            <option value="Hold">Hold</option>
                            <option value="Ghost">Ghost</option>
                        </select>
                    }

                </td>

                <td style="padding: 3px;">
                    <div class="btn-group" style="width: 130px;">
                        <a data-toggle="tooltip" title="View Details" onclick="ViewDetails('@Model.LeadList[i].LeadId');" data-placement="left" class="btn btn-sm waves-effect" style="padding-left: 3px; padding-right: 3px; width: 25px; height: 29px;">
                            <i class="fa fa-eye"></i>
                        </a>

                        <a data-toggle="tooltip" title="Update" data-placement="left" class="btn btn-sm waves-effect" style="padding-left: 3px; padding-right: 3px; width: 25px; height: 29px;">
                            <i class="fa fa-edit" onclick="View('@Model.LeadList[i].LeadId');"></i>
                        </a>
                        @if (Session["Admin_ID"].ToString() == "1")
                        {
                            <a data-toggle="tooltip" title="Delete" data-placement="left" class="btn btn-sm waves-effect" style="padding-left: 3px; padding-right: 3px; width: 25px; height: 29px;">
                                <i class="fa fa-trash" onclick="deleteLead('@Model.LeadList[i].LeadId');"></i>
                            </a>
                        }


                        <a data-placement="left" title="Remark" data-toggle="tooltip" class="btn btn-sm waves-effect" style="padding-left: 3px; padding-right: 3px; width: 25px; height: 29px;" onclick="remark('@Model.LeadList[i].LeadId')">
                            <i class='fa fa-commenting-o' style='color: #000000'></i>
                        </a>
                        <a data-placement="left" data-toggle="tooltip" class="btn btn-sm waves-effect" style="font-size: 16px;padding-left: 3px;padding-right: 3px;width: 22px;height: 35px;padding-top: 0px;">
                            @Model.LeadList[i].remarkCount
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table" id="TableLead" style="font-size: 15px;width: 95%;">
        <thead>
            <tr>
                <th class="text-center" style="width: 1%;"></th>
                <th class="text-center" style="width: 1%;">Sr.No</th>
                <th class="text-left" style="width: 11%;">Lead Date</th>
                <th class="text-left" style="width: 16%;">Company Name</th>
                <th class="text-left" style="width: 12%;">Client Name</th>
                <th class="text-left" style="width: 16%;">Product Name</th>
                <th class="text-center" style="width: 6%;">Priority</th>
                <th class="text-center" style="width: 6%;">Category</th>
                <th class="text-left" style="width: 21%;">Sub Category</th>
                <th class="text-center">Source</th>
                <th class="text-left" style="width: 18%;">Assign To</th>
                <th class="text-center" style="width: 19%;">Status</th>
                <th class="text-center" id="colAction" style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td class="text-center">No data Found</td>
            </tr>
        </tbody>
    </table>
}
